@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background-color: #4338ca;
}

::-webkit-scrollbar {
    display: none;
}
